# Copie este arquivo como .env na VPS e preencha com os dados do seu Supabase local
VITE_SUPABASE_URL=https://api-crediario.joonker.com.br
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc4NjY2Njg3LCJleHAiOjIwOTQwMjY2ODd9.QM6FMmGIr3KdF-eIuGQbJB4pZv6bcFwEaXz8NoMJvE
